article{
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;

}
h1{
    text-align: center;
}
.wrapper{
    display:inline-flex;
}

img{
    border-radius: 5px;
    margin: 10px;
    width: 250px;
}
button{
    width: 250px;
    padding: 15px;
    margin-left:10px
}
button:hover{
    cursor: pointer;
}
h3{
    margin: 10px;
    margin-left:0
}
p{
    font-family: sans-serif;
    font-size: 15px;
}
ul{
    list-style: none;
    display: inline-flex;
}
li{
    margin-right: 5px;
}
li::after{
    content: ',';
}
li:last-child::after{
    content: '.';
}